.bookings-list-container {
    margin-top: 100px; /* Adjust as needed to account for navbar */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1.5rem; /* Increase font size for better visibility */
}

.bookings-list-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
}

.button-container {
    display: flex; /* Aligns buttons next to each other */
    justify-content: start; /* Aligns buttons to the start of the container */
    gap: 10px; /* Adds some space between buttons */
}

.bookings-list-table td button {
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* Remove margin-right if it's no longer needed */
    font-size: 1.5rem; /* Increase font size for better visibility */
}


.bookings-list-table th, .bookings-list-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.bookings-list-table th {
    background-color: #f2f2f2;
    color: black;
}

.bookings-list-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.bookings-list-table tr:hover {
    background-color: #ddd;
}

.bookings-list-table td input[type="text"], 
.bookings-list-table td input[type="email"], 
.bookings-list-table td input[type="datetime-local"], 
.bookings-list-table td select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.bookings-list-table td button {
    margin-right: 10px;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-btn {
    background-color: #17a2b8; /* Light blue */
    color: white;
    width: 80px;
    height: 30px;
  }
  
  .delete-btn {
    background-color: #dc3545; /* Red */
    color: white;
    width: 80px;
    height: 30px;
  }

.bookings-list-table td button:hover {
    background-color: #45a049;
}

/*Save and Cancel button*/
/* Style for the table cell containing the buttons */
td .button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  /* Style for each button */
  .save-btn, .cancel-btn {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:80px;
    height: 35px;
  }
  
  /* Additional styling for save button */
  .save-btn {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  /* Additional styling for cancel button */
  .cancel-btn {
    background-color: #f44336; /* Red */
    color: white;
  }
  

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .bookings-list-container {
        width: 95%;
    }

    .bookings-list-table {
        width: 100%;
    }
}
