.forgotpassword {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.innerdv {
  width: 40%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #006bb3;
  color: white;
  border-radius: 10px;
}

.innerdv form {
  width: 100%;
  height: 30vh;
}

.UserReset {
  width: 80% !important;
  height: 100%;
  text-align: center;
}

.UserReset button {
  margin: 20px;
  border-radius: 20px;
  height: 5vh;
  font-size: 15px;
  font-weight: 500;
  width: 40%;
  padding: 5px;
}

.email {
  width: 100%;
}

@media (max-width: 668px) {
  .innerdv {
    width: 90%;
    height: 40vh;
  }
}
