.footer{
    background-image: url(../Home/carpetstain.jpg);
    background-color: #0C8EE7;
    height: 60vh;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer1 {
    background: linear-gradient(to bottom, #023161, #046eb4); 
    height: 60vh;
    padding: 80px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    opacity: 0.9;
  }

  .footer-inside{
    height: 37vh;
    background: linear-gradient(to bottom, #011224, #02548a); 
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    padding: 30px;
    color: #fff;
    gap: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    justify-content: space-around;
  }

  .footer h5{
    color: #fff;
    text-align: center;
    margin-top: 20px;
  }

  .footer h3{
    color: #fff;
    text-align: center;
    font-weight: 800;
    font-size: 24px;
  }
  