.options-container {
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    background: #C2C8E5;
    font-weight: 400;
    font-family: Poppins;
    padding: 30px; /* Reduced overall padding */
    /* padding-top: 100px;  */
    z-index: 2; 
    height: 99vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center !important; /* Keep content centered horizontally */
    justify-content: start; /* Align items to start from top */
}

.button-group {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons */
    gap: 10px; /* Space between buttons */
    margin-top: 50px; /* Additional spacing above the buttons */
    background-color: #f8f3f3;
    box-shadow: 0 4px 8px rgba(22, 26, 224, 0.3);
    width: 30%;
    margin-top: 10%;
    height: fit-content;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 20px;
}

.options-button {
    background: #FFA500; /* Orange color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 20px;
    font-family: Poppins;
    width: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

::placeholder {
    /* Adjust the font size as needed */
    font-size: 12px;
  }

  @keyframes dance {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-25px);
    }
  }

  .button-group h1 {
    animation: dance 2s infinite;
    display: inline-block; /* Ensures the animation works correctly with inline elements */
  }


/* Maintain responsiveness */
@media (max-width: 768px) {
    .options-container {
        padding: 20px ;
        padding-top: 120px; 
        height: fit-content;
    }

    .button-group {
        flex-direction: column;
        width: 100%;
        padding: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .options-button {
        width: 100%; /* Full width buttons on smaller screens */
    }
}

@media (max-width: 1437px) {
    .button-group {
        width: fit-content;
        margin-top: 180px;
    }
}

@media (max-width: 1242px){
    .button-group {
        width: fit-content;
        margin-top: 100px;
    }
}
